<nav class="navbar navbar-default navbar-dark" style="background-color: #e6525d;">
    <div class="navbar-expand-sm ">
        <ul class="navbar-nav">
            <a class="navbar-brand" style="color: #1d3557; font-weight: 650; margin-left: 10px;">Salesperson Commission Management</a>
            <li class="nav-item">
                <a routerLink="admin-home" routerLinkActive="active" (click) = "salesList()"  class="nav-link">Sales List</a>
            </li>
            <li class="nav-item">
              <a routerLink="salespersons" (click) = "salespersonsList()" routerLinkActive="active" class="nav-link">Salesperson List</a>
          </li>
            <li class="nav-item">
                <a routerLink="add-sales" (click)="addSales()" routerLinkActive="active" class="nav-link">Add Sales</a>
            </li>
            <li class="nav-item">
                <a routerLink="add-salesperson" (click)="addSalesperson()" routerLinkActive="active" class="nav-link">Add Salesperson</a>
            </li>
            <li class="nav-item">
              <a routerLink="commission-structure" (click)="changeCommission()" routerLinkActive="active" class="nav-link">Change Commission Structure</a>
          </li>
        </ul>
    </div>

    <button class="btn" style="background-color: #187386; color: white; margin-right: 10px;" (click) = "onLogout()" routerLink="login" routerLinkActive="active" >Logout</button>
  </nav>


  <div class="col-md-6 offset-md-3" style="margin-top: 2em;">
    <h3 style=" margin-left: 10px; color: white;"> </h3>
    <div class="container" style="background-color: white; border-radius: 10px;">
        <form (ngSubmit)="onSubmit()">
        <!-- <form> -->

            <div class="form-group">
                <label> Name </label>
                <input type="text" class="form-control" id="sname" [(ngModel)]="salesperson.sname" name="sname">
            </div>

            <div class="form-group">
                <label> Password </label>
                <input type="password" class="form-control" id="spswrd" [(ngModel)]="salesperson.spswrd" name="spswrd">
            </div>

            <div class="form-group">
                <label> Location </label>
                <input type="text" class="form-control" id="location" [(ngModel)]="salesperson.location" name="location">
            </div>

            <div class="text-center">
                <button class="btn btn-success" type="submit" style="margin-top: 10px;">Submit</button>
            </div>

        </form>
    </div>
</div>